.bpw-header-container {
    background-color: #b4ad04;
}
.rectangle2 {
    background-color: #e1de9b;
}
.bpw-from-bot .bpw-chat-bubble {
    background-color: #b4ad04;
}
.chat-bubble2 {
    background-color: #cbc64f;
}