.bpw-header-container {
    background-color: #4f9ec0;
}
.rectangle2 {
    background-color: #cee4ed;
}
.bpw-from-bot .bpw-chat-bubble {
    background-color: #4f9ec0;
}
.chat-bubble2 {
    background-color: #84bbd3;
}