.bpw-header-container {
    background-color: #8d71bc;
}
.rectangle2 {
    background-color: #d3c8e5;
}
.bpw-from-bot .bpw-chat-bubble {
    background-color: #8d71bc;
}
.chat-bubble2 {
    background-color: #84bbd3;
}
.bpw-header-container{
  border: none;
}

.bpw-layout{
  width: 200px;
  border: none;
}
.bpw-header-name{
  color: #d3c8e5;
}

.bpw-layout{
  height: 60%;
  right: 30px;
}

.bpw-header-container{
  color: #d3c8e5;
}

.bpw-header-icon, .bpw-header-icon svg, .bpw-header-icon svg path {
  fill: #d3c8e5;
}

.bpw-chat-container{
  background-color: #d3c8e5;
}

.bpw-composer{
  background-color: #d3c8e5;
}
