.bpw-header-container {
    background-color: #056bd0;
}
.rectangle2 {
    background-color: #a3afbc;
}
.bpw-from-bot .bpw-chat-bubble {
    background-color: #183858;
}
.chat-bubble2 {
    background-color: #5d748a;
}