body {
  margin: 0;
  padding: 50px;
  font: normal 18px/1.4 Arial, sans-serif;
  overflow: hidden;
}

.picker {
  display: flex;
  align-items: center;
}
.theme-selector{
  display: flex;
  flex-direction: row;
}

.color-input{
  margin:0 !important;
}
.swatch {
  display: flex;
  flex-direction: row;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.popover {
  position: absolute;
  top: calc(45%);
  left: 20;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.bpw-header-container {
  width: 500px;
  height: 100px;
  background-color: #000000;
  /* Initial color */
  margin-left: auto;
  /* Initial color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: #ffffff;
  padding: 5px 25px;
  border-radius: 10px 10px 0px 0px;
}

.rectangle2 {
  padding: 5px 25px;
  border-radius: 0px 0 10px 10px;
  background-color: #000000;
  height: 800px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 90px;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #eee;
  outline: none;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
}

input:focus {
  border-color: #4298ef;
}

.bpw-header-container h3 {
  font-size: 24px;
  margin-bottom: 0px;
}

.bpw-header-container p {
  font-size: 16px;
}

.bpw-from-bot,
.bpw-chat-bubble {
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 200px;
}

.bpw-from-user,
.bpw-chat-bubble {
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 200px;
}

.chat-avatar {
  width: 50px;
  /* Adjust the width as per your requirements */
  height: 50px;
  /* Adjust the height as per your requirements */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -60px;
  /* Adjust the positioning as per your requirements */
}

.chat-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.css-box {
  height: 250px !important;
  width: 100% !important;
  font-size: 16px;
  background-color: #ececec;
  border: none;
}

.generator {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 300px;

}


.generate-button{
  width: 400px;
  padding: 20px;
  background-color:#4298ef;
  color:white;
  border-radius: 4px;
  border:none;
  cursor: pointer
}

.generate-button-invalid{
  padding: 20px;
}

.dropdown {
  margin: 10px 0;
}

.dropdown select {
  width: 400px;
  height: 50px;
  padding: 5px;
  font-size: 16px;
}

.dropdown option {
  font-size: 16px;
}

.botpress-webchat-container {
  height: 500px; /* Adjust the height as needed */
  overflow: overlay;
}

.container {
  margin-left: 100px;
}

.bot-id-input{
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 400px;
  margin-bottom: 10px;
}